@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}
/*you might need to remove all pixels eventually*/

.welcome_resume {
  background: linear-gradient(30deg, 
      #CAACE4,
      #9D70DF,
      #6A32BC);
}
.welcome-section {
  /*background: linear-gradient(30deg, 
      #CAACE4,
      #9D70DF,
      #6A32BC);*/
  width: 100%;
  height: 100vh;
  font-family: 'Gill Sans';
}

.welcome-title {
  text-align: center;
  padding-top: 50vh;
  margin: 0;
  /*font-size: 3.125rem;*/
  font-size: 8vh;
  color: white;
}

.welcome-subtitle {
  text-align: center;
  padding: 0;
  margin-top: 0;
  font-style: italic;
  font-size: 5vh;
  color: white;

}

header {
  font-family: 'Gill Sans';
  /*do i need a fallback here???*/
  width: 98.8%;
  height: 10vh;
  background-color: grey;
  position: fixed;
  border-bottom: 0.2rem solid rgba(0, 0, 0, .3);
  z-index: 5;
  top: 0;
}

nav {
  height: 100%;
  display: flex;
  /*space-between*/
  justify-content: flex-end;
  align-items: center;
}

nav > ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  /*padding-inline-start: 60vw;*/
  margin-block: 0px;
  height: 100%;
}

nav > ul > li {
  color: white;
  margin: 0 0.5rem;
  /*0.2rem is equal to 3 pixels rem is 'root unit' which represents the font size of the root element. for most browsers, 1rem = 16 pixels*/
  padding: 0.5rem;
  display: block;
  font-size: 1.2rem;
}

nav > ul > li:hover {
  background-color: #dfdfe2;
  color: #1b1b32;
  cursor: pointer;
}

li > a {
  color: inherit;
  /*this won't show the little bullet point by 'about', 'projects', 'contact'*/
  text-decoration: none;
}


.resume {
height: 100vh;
width: 100%;
/*background: linear-gradient(30deg, 
      #CAACE4,
      #9D70DF,
      #6A32BC);*/
width: 100%;
position: relative;
/*the hover effect won't work with a z index of -1*/
/*z-index: -1;*/
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.resume_head {
  padding-top: 15vh;
  /*this margin property is the only thing that gets rid of the white space between the divs!*/
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
}

.stems {
  width: 100%;
  height: 10vh;
  margin-top: 5%;
  position: relative;
}

.dot1 {
  height: 2.3rem;
  width: 6rem;
  background-color: #FDD835;
  color: white;
  border-radius: 15%;
  margin-left: 15%;
  display: inline-block;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.dots > p {
  height: 50%;
  margin-top: 10%;
}

.dots:hover {
  background-color: black;
  color: white;
}

.dot2 {
  height: 2.3rem;
  width: 6rem;
  background-color: #EF5350;
  color: white;
  border-radius: 15%;
  margin-left: 46%;
  display: inline-block;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.stem1 {
  height: 10%;
  width: 0.5%;
  background-color: #FDD835;
  margin-left: 18%;
  float: left;
}

.stem2 {
  height: 10%;
  width: 0.5%;
  background-color: #FF7F50;
  margin-left: 33%;
  float: left;
}


.stem3 {
  height: 10%;
  width: 0.5%;
  background-color: #EF5350;
  margin-left: 31%;
  float: left;
}

.stem4 {
  height: 10%;
  width: 0.5%;
  background-color: #26C6DA;
  margin-left: 32%;
  float: left;
}

.stem5 {
  height: 10%;
  width: 0.5%;
  background-color: #7E57C2;
  margin-left: 32%;
  float: left;
}

.timeline {
  height: 6vh;
  width: 80%;
  margin: auto;
  background-color: red;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.year {
  font-family: 'Gill Sans';
  font-size: 1.8rem;
  text-align: center;
  border-left: .2rem solid black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

#_2020 {
background-color: #FDD835;
border: none;
}

#_2021 {
  background-color: #FF7F50;
  }

#_2022 {
    background-color: #EF5350;
    }

#_2023 {
    background-color: #26C6DA;
    }

#_2024 {
    background-color: #7E57C2;
    }






.test1 {
  width: 100%;
  background: linear-gradient(90deg, grey, #9B9EA0, grey);
  min-height: auto;
  margin-top: 0;
}

.test {
  /*box-sizing: border-box;*/
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 90%;
  min-height: auto;
  margin-top: 0px;
  padding-top: 4vh;
  padding-bottom: 4vh;
  margin-left: auto;
  margin-right: auto;
  max-width: 120vh;
  
  /*align-content: space-between;*/
}

.project-tile {
  background-color: #CAACE4;
  width: 30vh;
  height: 27vh;
  border-radius: 1vh;

  font-size: 2.4vh;
  font-weight: 550;
  font-family: 'Gill Sans';
  color: white;

  /*overflow: hidden;*/
  padding: 1vh;
  margin: 1vh;
  float: left;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.project-tile:hover {
  color: white;
  background-color: #6A32BC;
}
.project-tile:hover > div {
  color: white;
  background-color: #6A32BC;
}

/*i need to change it to, when you hover over the project tile only the p element in name 1 changes!!*/


.name0 {
  /*background-color: blue;*/
  height: 21vh;
}

.name0 > img {
  height: 21vh;
}

.name1{
  background-color: #CAACE4;
}



.contact-me {
  background: linear-gradient(30deg, 
      #CAACE4,
      #9D70DF,
      #6A32BC); 
  width: 100%;
  height: 100vh;
  position: relative;
 
  padding-top: 10vh;
  /*the nav bar disappears here, idk how to fix*/
}


.link_head {
  text-align: center;
  padding-top: 30vh;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 6vh;
  font-family: 'Gill Sans';
  /*attaching the classes to the h1 and p instead of divs removed the white space between the divs!*/
}

.link_subhead {
  text-align: center;
  padding: 0;
  margin-top: 0;
  color: white;
  font-family: 'Gill Sans';
  font-style: bold;
  font-size: 4vh;
}


.social-icons  {
  font-size: 2.88vh;
  color: white;
  text-align: center;
  top: 0;
}

i {
  padding: 0;
  padding-left: 4vh;
  margin: 0;
  font-family: 'Gill Sans';
  display: inline-block;
}

i > p {
  display: inline-block;
}

.social-icons p {
  font-size: 3vh;
  font-family: 'Gill Sans';
}

a {
  text-decoration: none;
  color: white;
  margin: 0;
}


.icon1 {
  display: inline-block;
}

.icon1 > a:hover {
  color: purple;
}

.icon1 > a:hover > i {
  transform: scale(1.2);
}

.icon2 {
  display: inline-block;
}

.icon2 > a:hover {
  color: purple;
}

.icon2 > a:hover > i {
  transform: scale(1.2);
}

.icon3 {
  display: inline-block;
}

.icon3:hover {
  color: purple;
}

.icon3:hover {
  transform: scale(1.2);
}


.footer {
  text-align: center;
  margin-inline: 0;
  height: 15%;
  width: 100%;
  border-top: 0.32vh solid white;
  position: absolute;
  bottom: 0;
/*look up how to do a footer*/
}

#sabrina 
{
  width: 30vh;
  height: 27.501vh;
}
